<header>
    <nav class="navbar">
        <div class="navbar-borop">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#"><img src="assets/images/logo.jpg" alt="logo agencia" height="50"></a>
                </div>
                <div class="collapse navbar-collapse text-center" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a [routerLink]="['/explorar']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Explorar</a></li>
                        <li><a [routerLink]="['/favoritos']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Favoritos</a></li>
                        <li><a [routerLink]="['/aboutus']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
