/**
 * =============================
 * Contact
 * =============================
 */

.contact .has-feedback-left input.form-control {
    padding-right: 20px;
    padding-left: 42.5px;
}

.contact .has-feedback-left .form-control-feedback {
    color: #e0e0e0;
    top: 35px !important;
    left: 5px;
    font-size: 22px;
}