<div class="wrapper">
    <div class="container shadow">
        <section class="page-title">
                <div id="particles-js"></div>
            <div class="container">
                <div class="col-xs-12 col-md-8 col-md-offset-2  bg-dark">
                        <h2>Bienvenidos a mi cliente <span>Spotify!</span></h2>
                        <br>
                    <p class="text-justify">Mi nombre es Facundo Malgieri, tengo 27 años. Este proyecto es parte de un Training interno de Globant
                        para el studio Customer Experience.
                        <br><br> Hacen 10 meses que comencé a estudiar Angular, he realizado proyectos pequeños tales como
                        mi <a href="http://www.facundomalgieri.com" target="_blank">página</a> personal y actualmente continúo
                        practicando para conventirme en Frontend Developer.
                        <br><br> El objectivo de este proyecto es realizar un cliente que consuma la API de Spotify y al
                        realizar una búsqueda de artistas muestre los resultados y puedan ser accedidos respetando una serie
                        de requisitos funcionales y opcionales.
                    </p>
                </div>
            </div>
           
        </section>
    </div>
</div>