.wrapper {
    color:white;
    margin-top:0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8) !important;
}

.shadow {
    margin-top: 0%;
}

p { 
    color: white;
    font-size: 20px;    
}