<div class="wrapper">
    <div class="container shadow">
        <section class="page-title">
            <h2>Bienvenidos a mi cliente <span>Spotify!</span></h2>
            <br>
            <div class="container">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-justify">
                    <p>Mi nombre es Facundo Malgieri, tengo 27 años. Este proyecto es parte de un Training interno de Globant
                        para el studio Customer Experience. Actualmente estoy practicando para conventirme en Frontend Developer.
                        <br><br> El objectivo es realizar un cliente que consuma la API de Spotify y muestre resultados según
                        una serie de requisitos funcionales y opcionales.
                    </p>
                </div>
            </div>
            <div id="particles-js"></div>
        </section>
    </div>
</div>