<div class="wrapper">
    <section class="page-header">
        <div id="particles-js"></div>

        <h1>About us</h1>

        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </section>

    <section class="page-title">
        <span>About agency</span>
        <h2>Welcome to our <span>digital</span> agency</h2>
    </section>

    <section class="info">
        <div class="container">
            <div class="col-xs-12 col-md-8 col-md-offset-2 text-justify">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere obcaecati ipsam minus excepturi,
                numquam minima reprehenderit modi qui. Sed facere maiores ullam corrupti, assumenda, voluptas enim 
                quos omnis quam et. Sed facere maiores ullam corrupti, assumenda, voluptas enim 
                quos omnis quam et!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere obcaecati ipsam minus excepturi,
                numquam minima reprehenderit modi qui. Sed facere maiores ullam corrupti, assumenda, voluptas enim 
                quos omnis quam et!</p>
            </div>
        </div>
    </section>

    <section class="counter-up">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4">
                    <div class="item animated" data-animation="slideInUp">
                        <span class="icon"><i class="icon-clock"></i></span>
                        <span class="number counter" data-to="5" data-speed="10000">0</span>
                        <span class="text">Años de experiencia</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="item animated" data-animation="slideInUp">
                        <span class="icon"><i class="icon-emotsmile"></i></span>
                        <span class="number counter" data-to="51" data-speed="9000">0</span>
                        <span class="text">Clientes</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="item animated" data-animation="slideInUp">
                        <span class="icon"><i class="icon-cup"></i></span>
                        <span class="number counter" data-to="391" data-speed="8000">0</span>
                        <span class="text">Tazas de café</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    mas cosas...
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>