<div class="wrapper">
    <section class="page-header">
        <div id="particles-js"></div>

        <h1>Contact us</h1>

        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
    </section>

    <section class="page-title">
        <span>Get in touch</span>
        <h2>We provide <span>high quality</span> services</h2>
    </section>

    <section class="contact" style="margin-bottom: 60px;">
        <div class="container">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="name">Name</label>
                                <i class="icon-user form-control-feedback"></i>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>	
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="email">Email</label>
                                <i class="icon-envelope form-control-feedback"></i>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="subjet">Subject</label>
                                <i class="icon-like form-control-feedback"></i>
                                <input type="text" class="form-control" id="subjet" name="subjet" placeholder="Subjet">
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="text">Text</label>
                                <textarea id="text" name="text" class="form-control" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="no-visible btn btn-bordered animated" data-delay="1000" data-animation="rubberBand">Get in touch</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>