a {
    cursor: pointer;
}

.col-md-4 {
    padding: 2%;
    width: 33.33%;
    float: left;
}

#categories {
    font-size:22px;
    font-weight: 900;
    margin: auto;
}

#categories a {
    color: white !important;
    text-decoration: none;
    text-shadow: 1px 2px black;
}

#categories li:hover {
    background-color: rgba(25,25,25,0.4) !important;
}

#categories li {
    text-align: center;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%; 
    text-transform: uppercase;
    margin-bottom: 0;
}

#search-label{
    margin-top: 0;
    color: white;
    padding: 10px;
}

#search {
    font-size:50px;
    font-weight: 700;
    min-height: 100px;
    margin-bottom: 3%;
    box-shadow: 2px 4px black;
}

#resultName {
    color: white;
    margin: 3%;
}

#resultImg {
    width: 150px;
    height: 150px;
}

#results {
    margin:1%;
    border: 0;
    border-radius: 0 !important;
    background-color: rgba(25,25,25,0.7);
    box-shadow: 2px 4px black;
    min-height: 200px;
}

.dark {
    margin-bottom: 0%;
    border: 0;
    border-radius: 0 !important;
    background-color: rgba(25,25,25,1);
}
.wrapper {
    min-height: 100vh;
    background: #1db954;
}