.col-md-12 {
    padding: 0;
}

#categories {
    font-size:22px;
    font-weight: 900;
    margin: 0;
}
#categories a {
    color: white !important;
    text-decoration: none;
    text-shadow: 1px 2px black;
}

#categories li:hover {
    background-color: rgba(25,25,25,0.4) !important;
}

#categories li {
    text-align: center;
    padding: 2%;
    padding-right: 5%;
    padding-left: 5%; 
    text-transform: uppercase;
    margin-bottom: 0;
}

#search-label{
    margin-top: 0;
    color: white;
    padding: 10px;
}

#search {
    font-size:50px;
    font-weight: 700;
    min-height: 100px;
    margin-bottom: 3%;
    box-shadow: 2px 4px black;
}

#results {
    margin-bottom: 0%;
    border: 0;
    border-radius: 0 !important;
    background-color: rgba(25,25,25,0.4);
    min-height: 200px;
}

.dark {
    margin-bottom: 0%;
    border: 0;
    border-radius: 0 !important;
    background-color: rgba(25,25,25,1);
}
.wrapper {
    min-height: 100vh;
    background: rgba(16,58,69,1);
    background: -moz-linear-gradient(top, rgba(16,58,69,1) 0%, rgba(19,65,77,1) 20%, rgba(28,64,74,1) 41%, rgba(24,60,69,1) 57%, rgba(23,61,71,1) 69%, rgba(37,64,71,1) 84%, rgba(27,70,82,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,58,69,1)), color-stop(20%, rgba(19,65,77,1)), color-stop(41%, rgba(28,64,74,1)), color-stop(57%, rgba(24,60,69,1)), color-stop(69%, rgba(23,61,71,1)), color-stop(84%, rgba(37,64,71,1)), color-stop(100%, rgba(27,70,82,1)));
    background: -webkit-linear-gradient(top, rgba(16,58,69,1) 0%, rgba(19,65,77,1) 20%, rgba(28,64,74,1) 41%, rgba(24,60,69,1) 57%, rgba(23,61,71,1) 69%, rgba(37,64,71,1) 84%, rgba(27,70,82,1) 100%);
    background: -o-linear-gradient(top, rgba(16,58,69,1) 0%, rgba(19,65,77,1) 20%, rgba(28,64,74,1) 41%, rgba(24,60,69,1) 57%, rgba(23,61,71,1) 69%, rgba(37,64,71,1) 84%, rgba(27,70,82,1) 100%);
    background: -ms-linear-gradient(top, rgba(16,58,69,1) 0%, rgba(19,65,77,1) 20%, rgba(28,64,74,1) 41%, rgba(24,60,69,1) 57%, rgba(23,61,71,1) 69%, rgba(37,64,71,1) 84%, rgba(27,70,82,1) 100%);
    background: linear-gradient(to bottom, rgba(16,58,69,1) 0%, rgba(19,65,77,1) 20%, rgba(28,64,74,1) 41%, rgba(24,60,69,1) 57%, rgba(23,61,71,1) 69%, rgba(37,64,71,1) 84%, rgba(27,70,82,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103a45', endColorstr='#1b4652', GradientType=0 );
}