<div class="wrapper">
    <section class="container">
        <ul id="categories" class="list-inline text-center">
            <li><a role="button" (click)="selectType('new-releases')">Nuevos Lanzamientos</a></li>
            <li><a role="button" (click)="selectType('categories')">Categorias</a></li>
            <li><a role="button" (click)="selectType('featured-playlists')">Playlists Recomendadas</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <p id="search-label" class="dark">Busca artistas, canciones, álbumes o playlists</p>
                <input type="text" [formControl]="search" class="form-control dark" id="search" name="search" placeholder="Escribe aquí..."
                    autofocus autocomplete>
            </div>
        </div>
        <section *ngIf='artistResults?.length > 0 || albumResults?.length > 0 || trackResults?.length > 0 
            || categoriesResults?.length > 0 || playlistsResults?.length > 0' id="results" class="row">
            <div class="col-md-4 text-center" *ngFor="let result of artistResults">
                <a role="link" (click)="openSelected(result?.id,'artists')">
                    <h4 id="resultName" title={{result?.name}}>{{result.name | slice:0:12}}</h4>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}" class="img-thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-md-4 text-center" *ngFor="let result of albumResults">
                <a role="link" (click)="openSelected(result?.id,albums)">
                    <h4 id="resultName" title={{result?.name}}>{{result.name | slice:0:12}}</h4>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}" class="img-thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-md-4 text-center" *ngFor="let result of playlistsResults">
                <a role="link" (click)="openSelected(result?.id, playlists)">
                    <h4 id="resultName" title={{result?.name}}>{{result.name | slice:0:12}}</h4>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}" class="img-thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-md-4 text-center" *ngFor="let result of trackResults">
                <a role="link" (click)="openSelected(result?.id, tracks)">
                    <h4 id="resultName" title={{result?.name}}>{{result.name | slice:0:12}}</h4>
                    <img id="resultImg" title={{result?.name}} src="{{result.album.images['0']?.url}}" class="img-thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-md-4 text-center" *ngFor="let result of categoriesResults">
                <a role="link" (click)="openSelected(result?.id, categories)">
                    <h4 id="resultName" title={{result?.name}}>{{result.name | slice:0:12}}</h4>
                    <img id="resultImg" title={{result?.name}} src="{{result.icons['0']?.url}}" class="img-thumbnail" alt="artistImg">
                </a>
            </div>

        </section>
    </section>
</div>