<div class="wrapper">
    <section class="container">
        <ul id="categories" class="list-inline text-center">
            <li><a role="button" (click)="selectType('new-releases')">New Releases</a></li>
            <li><a role="button" (click)="selectType('categories')">Categories</a></li>
            <li><a role="button" (click)="selectType('featured-playlists')">Recommended Playlists</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <p id="search-label" class="dark">Search artists, songs, albums or playlists</p>
                <input type="text" [formControl]="search" class="form-control dark" id="search" name="search" placeholder="Type here..."
                    autofocus autocomplete>
            </div>
        </div>
        <section *ngIf='artistResults?.length > 0 || albumResults?.length > 0 || trackResults?.length > 0
            || categoriesResults?.length > 0 || playlistsResults?.length > 0' id="results" class="row text-center">
            <div class="col-sm-6 col-md-4" *ngFor="let result of artistResults">
                <a role="link" (click)="openArtist(result?.id)">
                    <label for="resultImg" id="resultName" title={{result?.name}}>{{result.name | slice:0:15}}</label>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}" class="thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" *ngFor="let result of albumResults">
                <a role="link" (click)="openAlbum(result?.id)">
                    <label for="resultImg" id="resultName" title={{result?.name}}>{{result.name | slice:0:15}}</label>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}"  class="thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" *ngFor="let result of playlistsResults">
                <a role="link" (click)="openAlert()">
                    <label for="resultImg" id="resultName" title={{result?.name}}>{{result.name | slice:0:15}}</label>
                    <img id="resultImg" title={{result?.name}} src="{{result.images['0']?.url}}" class="thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" *ngFor="let result of trackResults">
                <a role="link" (click)="openAlbum(result?.items.album.id)">
                    <label for="resultImg" id="resultName" title={{result?.name}}>{{result.name | slice:0:15}}</label>
                    <img id="resultImg" title={{result?.name}} src="{{result.album.images['0']?.url}}" class="thumbnail" alt="artistImg">
                </a>
            </div>
            <div class="col-sm-6 col-md-4" *ngFor="let result of categoriesResults">
                <a role="link" (click)="openAlert()">
                    <label for="resultImg" id="resultName" title={{result?.name}}>{{result.name | slice:0:15}}</label>
                    <img id="resultImg" title={{result?.name}} src="{{result.icons['0']?.url}}" class="thumbnail" alt="artistImg">
                </a>
            </div>
        </section>
    </section>
</div>
