<div class="wrapper">
    <div class="container shadow">
        <section class="page-title">
                <div id="particles-js"></div>
            <div class="container">
                <div class="col-xs-12 col-md-8 col-md-offset-2  bg-dark">
                        <h2>Welcome to my <span>Spotify</span> client!</h2>
                        <br>
                    <p class="text-justify">Hi my name is Facundo Malgieri. This project is a Frontend development training.
                        <br><br> I started studying angular an year ago and I've developed tiny projects such as my own personal
						<a href="http://www.facundomalgieri.com" target="_blank">website</a>. Currently im still training to
						become a Frontend Developer.
                        <br><br> The purpose of this project is to create a client that consumes Spotify's API. Being able to
						search for artists, songs, albums and playlists, play the song's previews and save them into your favourites list.
						<br><br>Hope you like it!
					</p>
                </div>
            </div>

        </section>
    </div>
</div>
