<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>Facundo Malgieri - 2017<p>
                <ul class="list-unstyled social-icons">
                    <li><a href="https://ar.linkedin.com/in/facundo-malgieri-0a90b5119" target="_blank"><i title="LinkedIn" class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/FacundoMalgieri/" target="_blank"><i title="GitHub Repository" class="fa fa-github"></i></a></li>
                    <li><a href="http://facundomalgieri.com" target="_blank"><i title="Personal Website" class="fa fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
