<div class="wrapper">
    <div class="container-fluid">
        <div class="row dark">
            <div class="col-md-12 white text-center col-max-height">
                <img id="resultImg" src="{{result?.images['0']?.url}}" alt="">
                <div id="gradient"></div>
                <div id="artistInfo">
                    <h1 id="resultName">{{result?.name}}</h1>
                    <ul class="list-inline">
                        <li *ngFor="let genre of result?.genres" class="label label-default">{{genre}}</li>
                    </ul>
                    <h4 id="popularity">Seguidores: {{result?.followers.total}} <br> Popularidad: {{result?.popularity}}% </h4>
                </div>
            </div>
        </div>
        <div class="row" id="resultsRow">
            <div class="col-md-12 ">
                <ul class="list-group">
                    <li *ngFor="let album of albums?.items" class="list-group-item">
                        <a role="link" (click)="getTracks(album?.id,'albums')">
                            <img src="{{album?.images['0']?.url}}" alt="" class="img-thumbnail">
                            <span id="albumName">{{album?.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>