<div class="wrapper animated fadeIn">
	<section class="hero hero-home">
		<div class="container">
			<div class="hero-wrapper">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h1 class="carousel-content">Spotify</h1>
						</div>
						<div class="item">
							<h1 class="carousel-content">Music for everyone.</h1>
						</div>
					</div>
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				<a role="button" class="btn btn-shadow explore">More info</a>
				<a role="button" routerLink="/explore" class="btn btn-shadow explore">Get started</a>
			</div>
			<div class="mouse-icon">
				<div class="wheel"></div>
			</div>
		</div>
	</section>

	<section class="our-solutions description">
		<div class="container">
			<div class="row">
				<div class="col-md-6 animated" data-animation="bounceInLeft">
					<h1><b>What's on Spotify?</b></h1>
					<br>
					<h3><b><i class="icon-music-tone-alt"></i> Music</b></h3>
					<br>
					<h3>There are millions of songs on Spotify. Play your favorites, discover new tracks, and build the perfect collection.</h3>
					<br>
					<h3><b><i class="icon-list"></i> Playlists</b></h3>
					<br>
					<h3>You’ll find readymade playlists to match your mood, put together by music fans and experts.</h3>
					<br>
					<h3><b><i class="icon-music-tone"></i> New Releases</b></h3>
					<br>
					<h3>Hear this week’s latest singles and albums, and check out what’s hot in the Top 50.</h3>
					<br>
				</div>

				<div class="col-md-6 animated" data-animation="bounceInRight">
					<div class="row">
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item1.jpg" alt="">
						</div>
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item2.jpg" alt="">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item3.jpg" alt="">
						</div>
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item4.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<a role="button" class="back-to-top"><i class="icon-arrow-up" ></i></a>
</div>
<script>
	console.log("caca")
</script>
