<div class="wrapper animated fadeIn">
	<section class="hero hero-home">
		<div class="container">
			<div class="hero-wrapper">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<h1 id="music" class="animated" data-animation="bounceInLeft">Spotify</h1>
						</div>
						<div class="item">
							<h1 id="music" class="man animated" data-animation="bounceInRight">Música para todos.</h1>
						</div>
					</div>
				</div>
			</div>
			<div class="mouse-icon">
				<div class="wheel"></div>
			</div>
		</div>
	</section>

	<section class="our-solutions">
		<div class="container">
			<div class="row animated" data-animation="bounceIn">
				<div class="col-md-6">
					<h1><b>¿Qué hay en Spotify?</b></h1>
					<br>
					<h3><b><i class="icon-music-tone-alt"></i> Música</b></h3>
					<br>
					<h3>Spotify tiene millones de canciones. Escucha tu música favorita, descubre nuevas canciones y arma tu colección personal.</h3>
					<br>
					<h3><b><i class="icon-list"></i> Playlists</b></h3>
					<br>
					<h3>Disfruta de playlists para cada estado de ánimo, armadas por fans y especialistas del mundo de la música.</h3>
					<br>
				</div>

				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item1.jpg" alt="">
						</div>
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item2.jpg" alt="">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item3.jpg" alt="">
						</div>
						<div class="col-md-6 no-padding">
							<img class="img-responsive" src="assets/images/item4.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<a role="button" class="back-to-top"><i class="icon-arrow-up"></i></a>
</div>