/**
 * =============================
 * Generals
 * =============================
 */
.navbar-toggle {
    padding-top: 3%;

}

.icon-bar {
    background-color: white;
    border: 1px white solid;
}

 body {
    overflow-x: hidden;
    font-family: Circular, Helvetica;
    font-size: 16px;
}

p {
    color: #707070;
}

/* sacar este estilo despues */
.preview {
    margin-top: 40px;
}

/* page headers */
.page-header {
    overflow: hidden;
    position: relative;
    background: #333;
    padding: 20px 30px;
    margin: 0;
}

.page-header h1,
.page-header h2,
.page-header h3 {
    color: #fff;
}

.page-header #particles-js {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.page-header .breadcrumb {
    background: none;
    padding: 8px 0px;
    margin: 0;
    position: relative;
}

.page-header .breadcrumb li::before {
    font-family: "simple-line-icons";
    content: "\e606";
    font-size: 12px;
    font-weight: bold;
}

.page-header .breadcrumb li:first-child::before {
    content: "";
}

.page-header .breadcrumb li.active {
    color: #fff;
}

.page-header .breadcrumb li a {
    color: #1db954;
}

/* page-titles */
.page-title {
    margin: 60px 0px;
    text-align: center;
}

.page-title span {
    color: #aaaaaa
}

.page-title h1,
.page-title h2,
.page-title h3 {
    font-size: 2em;
    margin-top: 10px;
}

.page-title h1 span,
.page-title h2 span,
.page-title h3 span {
    color: #1db954;
}

/* buttons */
.btn {
    border-color: transparent;
    background-color: #1db954;
    border: 1px solid #1db954;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-right: 6px;
    overflow: hidden;
    border-radius: 10px;
}

.btn:hover {
    color: #fff;
    opacity: 0.9;
}

.btn-shadow:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.btn-bordered {
    border: 1px solid #1db954;
    background-color: transparent;
    color: #1db954;
}

.btn-bordered:hover {
    background-color: #1db954;
    color: #fff;
    opacity: 1;
}

/* Tables */
table th,
table td {
    color: #707070;
    padding: 16px 28px !important;
}

table > tbody > tr:nth-of-type(odd) {
        background-color: #f6f6f6 !important;
}

table > tbody > tr > td,
table > thead > tr > th {
    border: none !important;
}

table > thead > tr > th {
    color: #fff;
    background: #1db954;
}

/* Tabs */
.nav-tabs {
    border: none;
}

.nav-tabs > li a {
    padding: 16px 16px;
    color: #333;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li a:hover,
.nav-tabs > li.active > a {
    color: #1db954;
    background: none;
    border-color: transparent;
    border-bottom: 2px solid #1db954;
}

.tab-content {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.tab-content .tab-pane {
    padding: 28px 33px;
    background: #fff;

}

/* Collapse (acordion) */
.accordion .panel-heading {
    border-bottom: 1px solid #e0e0e0;
}

.accordion .panel-heading .panel-title {
    position: relative;
}

.accordion .panel-heading .panel-title a {
    color: #333;
    display: block;
    padding: 27px 27px 27px 0px;
    text-decoration: none;
}

.accordion .panel-heading .panel-title i {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 26px;
    transform: translate3d(0, -50%, 0) rotate(0);
    transition: 0.2s;
}

.accordion .panel-heading .panel-title a[aria-expanded=true] ~ i {
    transform: translate3d(0, -50%, 0) rotate(45deg);
}

.accordion .panel {
    box-shadow: none;
    background: none;
    border: none;
}

.accordion .panel-heading + .panel-collapse > .list-group,
.accordion .panel-heading + .panel-collapse > .panel-body {
    border: none;
}

/* Form controls */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select,
.form-control {
    height: 51px;
    padding: 10px 20px;
    outline: none;
    font-size: 15px;
    color: #808080;
    margin: 0 0 16px 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    opacity: 1;
    border-radius: 3px !important;
    box-shadow: none;
    transition: box-shadow 0.2s!important;
}

.form-control:focus {
    color: #808080;
    border-color: #d8d8d8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* utilities */
.back-to-top {
    position: fixed;
    right: 2%;
    bottom: 20px;
    color: #333;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-decoration: none !important;
}

.back-to-top a {
    text-decoration: none;
    font-weight: bold;
}

.no-visible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}